:root {
  --first-color: #e8abeb;
  --box-radius: 5px;
}

.form {
  border: 2px solid var(--first-color);
  padding: 15px;
  margin: 20px auto;
  border-radius: var(--box-radius);
  max-width: 600px;
}

.btn {
  background: var(--first-color);
  border-radius: var(--box-radius);
  border-color: white;
}
.btn:hover {
  background: white;
  color: var(--first-color);
  border-color: var(--first-color);
}

.seacheForm {
  border-color: var(--first-color);
  border-radius: var(--box-radius);
  padding: 5px 120px;
}


